{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>PCW-Reset</title>
<link rel="stylesheet" href="{% static 'account/css/auth.css' %}">
<script src="{% static 'account/js/auth.js'%}"></script>
{% endblock %}

{% block content %}
<section id="auth-body">
    <div class="container mx-auto p-3 my-5 auth-box">
        <div class="auth-box-heading">New Password 🔑</div>
        <form action="{% url 'set_password' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="username" value={{username}}>
            <label for="password">New Password:</label>
            <span class="eye-toggler">
                <i class="fas fa-eye mx-2"></i>
            </span>
            <input type="password" name="password" id="password" class="fields form-control"
                placehoder="Password" required>
            <button type="submit" class="btn mt-3 button-1">Submit</button>
        </form>
    </div>
</section>
{% endblock %}