body {
	background-color: var(--first);
}

.image-box {
	width: 100%;
}

.heading {
	color: var(--base);
	font-size: 60px;
}

@media screen and (max-width: 768px) {
	.heading {
		font-size: 36px;
	}
}

.underline {
	width: 300px;
	border: 2px solid var(--base);
}

.sub-heading {
	color: antiquewhite;
	font-style: italic;
}
