{% extends 'base.html' %} 
{% load static %}

{% block head %} 
	<title>{{ object.title }}</title>
	<link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5 main">
	<div class="card shadow">
		<div class="card-body">
			<h1 class="text-success">{{ object.title }} </h1>
			<p class="text-muted">{{ post.created_on }}</p>
			<p class="card-text ">{{ object.text | safe | linebreaks }}</p>
			<div class="mx-auto my-5 media-box">
				{% if object.image|length %}
					<img src="{{ object.image.url }}" width="100%">
				{% endif %}
				{% if object.video|length %}
					<video width="100%" controls>
						<source src="{{ object.video.url }}">
					</video>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}