<div
	class="modal fade"
	id="postModal"
	tabindex="-1"
	aria-labelledby="postModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="postModalLabel">Create your post</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="{% url 'forum' %}" id="post-form">
					{% csrf_token %} {{ form.media }}
					<label for="{{ form.title.id_for_label }}" class="mt-3">Title</label>
					{{ form.title }}
					<label for="{{ form.description.id_for_label }}" class="mt-3"
						>Description:
					</label>
					{{ form.description }}
					<label for="{{ form.text.id_for_label }}" class="mt-3">Content</label><br />
					{{ form.text }}<br />
					<div id="output"></div>
					<label for="{{ form.tags.id_for_label }}" class="mt-3">Tags</label>
					{{ form.tags }}
					<div class="modal-footer">
						<button type="submit" class="btn button-1">Post</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		$("select").selectpicker();

		document.querySelectorAll(".dropdown-toggle").forEach((element) => {
			element.classList.add("fields");
			element.classList.add("border");
		});
	});
</script>
