:root {
	--first: hsl(214, 89%, 52%);
	--first-dark-1: hsl(214, 82%, 25%);
	--base: hsl(0, 0%, 100%);
	--base-dark-1: hsl(0, 0%, 93%);
	--base-dark-2: hsl(0, 0%, 85%);
}

body {
	font-family: "Montserrat Alternates", sans-serif;
	background-color: var(--base-dark-1);
	background-attachment: fixed;
}

/* ------ */
/* Navbar */
/* ------ */
.nav-class {
	background-color: var(--base);
	padding: 0px 16px 0px 16px;
}

.logo {
	width: 150px;
	margin-left: 5vw;
}

.custom-toggler.navbar-toggler {
	border: 2px solid --first;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(128, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link-class {
	font-size: large;
	color: var(--first);
	text-align: center;
	margin: 0px 16px 0px 16px;
	border-bottom: 3px solid var(--base);
}

.nav-link-class:hover {
	color: var(--first);
	border-bottom: 3px solid var(--first);
	transition-duration: 1s;
}

/* ------ */
/* Footer */
/* ------ */
footer {
	background-color: var(--base-dark-2);
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.footer-headings {
	color: hsl(0, 0%, 5%);
	font-weight: 700;
}

footer a,
footer a:hover {
	color: hsl(0, 0%, 20%);
}

.line {
	width: 100%;
	border-top: 1px solid hsl(0, 0%, 20%);
	margin: 12px;
}

/* ----------- */
/* Utilities   */
/* ----------- */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-1 {
	background-color: var(--first);
	color: var(--base);
	border: 1px solid hsl(0, 0%, 70%);
	border-bottom: 3px solid hsl(0, 0%, 70%);
	transition-duration: 1s;
	transition-property: border;
	min-width: 160px;
}

.button-1:hover {
	border-bottom: 3px solid var(--first-dark-1);
}

.button-2 {
	background-color: var(--base);
	color: var(--first);
	border: 1px solid hsl(0, 0%, 70%);
	border-bottom: 3px solid hsl(0, 0%, 70%);
	transition-duration: 1s;
	transition-property: border;
	min-width: 160px;
}

.button-2:hover {
	border-bottom: 3px solid var(--first-dark-1);
}

.text-first {
	color: var(--first);
}

.full {
	min-height: 90vh;
}
