{% extends 'base.html'%}
{% load static %}

{% block head %}
<title>Register</title>
<link rel="stylesheet" href="{% static 'account/css/auth.css'%}">
<script src="{% static 'account/js/auth.js'%}"></script>
{% endblock %}

{% block content %}
<section id="auth-body">
    <div class="container my-5 center-mx auth-box">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="container auth-box-heading">
                <p class="logo mb-5">DogeIN</p>
                👋Register
            </div>
            {% for field in form %}
            {{field}}
            {% endfor %}
            <button type="submit" class="btn mt-4 mb-4 button-1">Register</button>
        </form>
        <div class="container p-0 pb-4 auth-box-footer text-center">
            Already have an account?&emsp13;<a href="{% url 'login'%}" class="font-weight-bold">Log
                in</a>
        </div>
    </div>
</section>
{% endblock %}