<div class="pagination-box d-flex justify-content-center">
    <ul class="pagination">
        {% if page_data.has_previous %}
        <li class="page-item">
            <a class="left-icon page-link" href="?page=1">
                <i class="fas fa-angle-double-left"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="left-icon page-link" href="?page={{ page_data.previous_page_number }}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% endif %}

        {% for num in page_data.paginator.page_range %}
            {% if num == page_data.number %}
            <li class="page-item">
                <span class="pagination-numbers page-link pagination-current">{{ num }}</span>
            </li>
            {% elif num > page_data.number|add:'-3' and num < page_data.number|add:'3' %} <li class="page-item">
                <a href="?page={{num}}" class="pagination-numbers page-link">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if page_data.has_next %}
        <li class="page-item">
            <a class="left-icon page-link" href="?page={{ page_data.next_page_number }}">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="left-icon page-link" href="?page={{ last_page }}">
                <i class="fas fa-angle-double-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>