{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Instruction</title>
<link rel="stylesheet" href="{% static 'home/css/instructions.css'%}">
{% endblock %}

{% block content %}
<section>
	<div class="container flex-center full">
		<div class="container my-5 border rounded instructions-box">
			<div class="mx-auto shadow flex-center heading">
				INSTRUCTIONS
			</div>
			<div class="container mt-5 py-5">
				<p class="text-dark">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum pariatur, animi iste officiis placeat est dolor cumque recusandae, dolore unde ratione vitae quae itaque odio cum eius praesentium ipsam voluptatibus.
					<br>
					<br>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et earum quam ex error, fugit ipsum rerum unde possimus quasi natus inventore aut quia sit itaque odit, tempore quae, sint illo.
					<br>
					<br>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sunt sed dolor assumenda adipisci, ipsam eveniet illum quod soluta quas, ducimus nulla harum reprehenderit sint esse, natus voluptate delectus officiis.
					<br>
					<br>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis reprehenderit obcaecati eius nesciunt mollitia enim eos, id, dolor quibusdam nostrum animi, sit esse dolorum fuga et corrupti aperiam nulla tenetur?
					<br>
					<br>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit modi, reprehenderit sed harum esse quia delectus magni perspiciatis ullam, asperiores praesentium iste nisi quam consectetur dolorum consequatur accusamus perferendis repellendus?
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}