body{
    background-color: var(--base);
}

nav {
    visibility: hidden;
}

#auth-body {
	min-height: 90vh;
}

.auth-box {
    max-width: 360px;
}

.logo {
    color: var(--maroon);
    font-weight: 900;
    font-style: italic;
}

.auth-image {
    width: 90%;
}

.auth-box-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 16px;
    margin-bottom: 10px;
}

.fields {
    width: 100%;
    height: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.field-select {
    padding: 0 8px 0 8px;
    -webkit-appearance: menulist-button;
    min-height: 50px;
}

#eye-toggler {
    cursor: pointer;    
}

.auth-box-footer {
    font-size: 14px;
    padding: 16px;
}

.signup-link {
    float: right;
}

.button-1 {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.auth-box a, .auth-box a:hover {
    color: var(--maroon);
}